@font-face {
    font-family: 'poppins' sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Poppins');
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: #5b5b5b ;
}
li{
    list-style: none;
    padding: 10px;
}
h1{
    font-size: 4rem;
    color: #063255;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.1rem;
}
section{
    padding: 6rem;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.col-2{
    width: calc(100%/2 - 40px);
}
.col-3{
    width: calc(100%/3 - 40px);
}
.lightblue{
    background-color: #dceaf5;
}
.darkblue{
    background-color: #063255;
}
.align-self{
    align-items: center;
}
.cta{
    background-color: #ffeeda;
    color: #F58A07;
    border-radius: 20px;
    padding: 15px;
}

/* .header */
.header-li{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}
.fins{
    display: flex;
}
.fins-title h3{
    color: #063255;
}
/* hero */
.hero{
    padding: 0;
}
.See-servi{
    background-color: #F58A07;
    color: white;
    padding: 15px;
    border-radius: 20px;
}
.See-All{
    color: #063255;
}
.hero-img img{
    vertical-align: bottom;
}
.hero-logo{
    padding: 10px;
}
.hero-logoo{
    padding: 10px;
    margin: 0px;
}
/* service */
.servi-title h2{
    color: #063255;
}
.servi-img img{
    border-radius: 15px;
    width: 100%;
}
.more{
    color: #F58A07;
}
.more::after{
    content: '\2192';
}
.servi-li{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
/* solution */
.sol-card{
    background-color: white;
    border-radius: 20px;
}
.sol{
    padding: 20px;
}
/* strategy */
.stra-li{
    display: flex;
    flex-direction: row;
}
.stra{
    border-radius: 20px;
}
.stra-text{
    padding: 30px;
    margin: 20px;
}
.stra-img img{
    float: right;
    gap: 0px;
}
/* .experience */
.exp-number{
    color:#F58A07 ;
}
.exp-img img{
    border-radius: 20px;
    width: 100%;
}
/* energy */
.energy{
    padding: 0rem;
}
.energy-img{
    background-image: url(/images/experience-image.png);
    height: 60vh;
    background-size: cover;
    width: 100%;
}
.energy-textcrl{
    background-color: #F58A07;
    color: white;
}
.See-job{
    background-color: white;
    color: #F58A07;
    border-radius: 20px;
    padding: 10px;
}

/* finsweet */
.fins-img img{
    width: 100%;
}
.ceo img{
    border-radius: 50px;
}
/* blog */
.blog-article{
    background-color: white;
    border-radius: 20px;
    align-items: center;
}
.blog-article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.blog-text{
    padding: 5px;
}
.blog-aa{
    padding: 20px;
}
/* .footer */
.footer{
    color: white;
}
.email{
    background-color: white;
    border-radius: 20px;
    padding: 10px;

}
.subs{
    background-color: #F58A07;
    color: white;
    padding: 5px;
    border-radius: 20px;
}
.fa-brands{
    padding: 10px;
}


/* .HOME */
/* serve */
.serve-img img{
    border-radius: 20px;
}
/* .business */
.bsns-img img{
    border-radius: 20px;
}
/* Blog */
.blog-art{
    background-color: #dceaf5;
    border-radius: 20px;
}
.blog-art img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.blog-six{
    padding: 20px;
}
.allposts{
    padding:1rem 0rem;
}
.andrew{
    display: flex;
    flex-direction: row;
}
.andrew img{
    border-radius: 50px;
}
.blog-our img{
    border-radius: 20px;
    width: 100%;
}
/* .Post */
.posts{
    padding: 2rem;
}
/* .Contact Us */
.cont-us img{
    border-radius: 20px;
   width: 100%;
}
.figma-text{
    text-align: center;
}
.figma-li{
    display: flex;
    flex-direction: row;
}
.figma-article{
    text-align: center;
    justify-content: flex-end;
    padding: 20px;
}
/* Call to Action */
table, th, td{
    border: 1px 
}
.table{
    border-radius: 20px;
    padding: 25px;
}
.table-art{
    margin:20px ;
    padding: 10px;
}
.table-text{
    color: #5b5b5b;
}
/* .Tesing */
.Apply-now .apply-now{
    justify-content: flex-start;
}
.apply-now{
    background-color:#f2f2f2 ;
    border-radius: 20px;
    padding: 10px;
}
.apply-now-art{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 85px;
    justify-content: flex-start;
}
.subs-art{
    background-color: #F58A07;
    color: white;
    border-radius: 20px;
    padding: 10px;
}
/* .finsweet */
.fins-photo img{
    width: 100%;
    border-radius: 20px;
}
/* .careers */
.open-see{
    padding: 20px;
    margin: 10px;
}
.apply{
    color: #F58A07;
}
.pos-art{
    padding: 15px;
}
.pos-artile{
    background-color: #F58A07;
    color: white;
    padding: 13px;
    border-radius: 20px;
}
.ab-img img{
    border-radius: 20px;
}
.ab-pos h2{
    font-size: 3rem;
    color: #063255;
}
.ab-art{
    color: #063255;
}